[Unit]
Description=Convitelist Auto-Update Timer
Requires=convitelist-update.service

[Timer]
# Check for updates every 5 minutes
OnBootSec=5min
OnUnitActiveSec=5min
AccuracySec=1min

[Install]
WantedBy=timers.target


